<?xml version="1.0" encoding="UTF-8"?>
<!--https://stackoverflow.com/questions/50216893/log4j2-not-outputting-debug-information-->
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="debug"/>
            </Filters>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="Debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>